<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
    
    <h1>회원 가입</h1>

<form action="/signup/confirm" method="post">

        <input type="text" name="user_id" placeholder="Input your new id">

        <br>

        <input type="password" name="user_pw" placeholder="Input your new pw">

        <br>

        <input type="email" name="user_mail" placeholder="Input your new mail">

        <br>

        <input type="text" name="user_phone" placeholder="Input your new phone">

        <br><br>

        <button type="submit">
            회원가입
        </button>
        <button type="reset">
            초기화
        </button>

</form>

</body>
</html>