<!-- 계좌 신규 개설 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BANK</title>

    <script src="{{ url_for('static', filename='bank/bank.js')}}"></script>
</head>
<body>
    <article id="account_opening_wrap">
        <div class="account_opening_form">
            <form action="/bank/account_opening_confirm" method="post" name="account_opening_form">
                <input class="input_basic" type="text" name="uName" placeholder="성함">
                <br>
                <input class="input_basic" type="text" name="accountName" placeholder="계좌 이름">
                <br>
                <input class="input_basic" type="password" name="accountPw" placeholder="계좌 비밀번호">
                <br>
                <input class="input_button_basic_130" type="button" value="계좌개설" onclick="accountOpeningForm();">
                <input class="input_button_basic_130" type="reset" value="초기화">
            </form>
        </div>
    </article>
</body>
</html>